.title-content{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.footer-text{
    text-align: center;
}

.stars{
    width: 100%;
    text-align: center;
}


.stars img{
    width: 50%;
    margin-top: -20px;
}

.link {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.link a {
    text-decoration: none;
    color: #382D24;
    font-weight: bold;
    font-size: 19px;

}